/* Chapter : Colors And Background
Date : 01, May, 2024. */


*{
    margin: 0;
    padding: 0;
}


.red{
    background-color: red;
    height: 255px;
    color: white;
}

.blue{
    background-color: blue;
    color: aqua;
}