/* Chapter : Display Properties
Date : 05, May, 2024. */

.box1{
    width: 194px;
    height: 56px;
    background-color: pink;
    color: indigo;
    display: inline-block;
    /* visibility: hidden; */
    /* padding: 25px; */
    /* margin: 50px; */
}


.box2{
    height: 256px;
    width: 294px;
    background-color: skyblue;
    color: indigo;
    display: inline-block;
    text-align: start;
    text-decoration: underline;
}

p1{
    display: block;
    background-color: orange;
    /* text-transform: capitalize; */
    text-transform: full-width;
    line-height: 7;
}

p2{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: oblique;
    background-color: pink;
    font-variant: small-caps;
    font-weight: 500;
}
