/* Chapter : Size, Position and Lists
Date : 05, May, 2024. */


*{
    margin: 0;
    padding: 0;
}

/* html{
    font-size: 45px;
} */

/* .container{
    background-color: red;
    width: 180px; /* 80% of the width of its containing block */
    /* padding: 15px; 5% of the width of its containing block
    height: 133px;
    font-size: 133%;
} */

/* .box1{
    background-color: skyblue; */
    /* font-size: 2em;     html default font size is 16px */
    /* font-size: 2rem;  use when we need to resize whole  
    content  */
    /* font-size: 2rem;
} */

/* .box2{
    background-color: pink; */
    /* width: 100vw;
    height: 50vh; */
    
    /* width: 200%; 50% of the width of its containing block */
    /* height: 50%; /* 50% of the height of its containing block */
    /* margin-top: 10%; 10% of the width of its containing block
    font-size: 222%; 80% of the font size of its parent element
} */

/* .box2{
    background-color: pink;
    max-height:155px;
    max-width: 255px;
    min-height:55px;
    min-width: 55px;
    height: 144px;
    width: 133px;
} */

/* .box2{
    background-color: pink;
    max-height:100vh;
    max-width: 100vw;
    min-height:50vh;
    min-width: 50vw;
    height: 60vh;
    width: 60vw;
} */

.container{
    background-color: pink;
    padding: auto;
    margin: auto;
    height: 255px;
    width: 155px;
}

.box1{
    background-color: skyblue;
    margin: auto;
    height: 2555px;
    width: 255px;
    position: relative;
    top: 44px;
    
}

.box2{
    background-color: lightgray;
    margin: auto;
    height: 175px;
    width: 155px;
    position: fixed;
    top: 44px;
}

